# {{ ansible_managed }}

global
    daemon
    maxconn {{ ansible_haproxy_maxconn }}

defaults
    mode http
    timeout connect {{ ansible_haproxy_timeout_connect }}
    timeout client {{ ansible_haproxy_timeout_client }}
    timeout server {{ ansible_haproxy_timeout_server }}

frontend http-in
    bind *:80

{% for application in ansible_haproxy_docker_applications %}
    acl is_{{ application.name }} hdr_end(host) -i {{ application.domain_name }}
{% endfor %}

{% for application in ansible_haproxy_docker_applications %}
    use_backend {{ application.name }} if is_{{ application.name }}
{% endfor %}

{% for application in ansible_haproxy_docker_applications %}
    backend {{ application.name }}
        balance roundrobin
        option httpclose
        option forwardfor
        {% for container in application.containers %}
        server {{ container.name }} {{ container.ip }}:{{ container.port }} maxconn 32
        {% endfor %}
{% endfor %}
